.header-home {
  height: 440px;
  background: url(../images/bg-header.jpg) no-repeat center top;
  color: #fff;
  &-title {
    padding-top: 100px;
    color: inherit;
    @include from('l') {
      padding: 80px 0 20px;
    }
  }
}
