.grid-resources {
  margin: 0 -10px;
  li {
    margin-top: 40px;
    padding: 0 40px;
    cursor: pointer;
    @include from('s') {
      width: 33%;
      padding: 0 10px;
      margin-left: -2px;
      display: inline-block;
      vertical-align: top;
    }
    @include to('xs') {
      text-align: center;
    }
    &:hover {
      .as-link {
        border-bottom-color: transparent;
        color: #f17f21;
      }
      img {
        opacity: .9;
      }
    }
  }
  &-media {
    margin: 0 auto 20px;
    display: block;
  }
  &-date {
    margin-bottom: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
  }
}
