.grid-resources {
  margin: 0 -10px 40px;
  li {
    margin-top: 40px;
    padding: 0 40px;
    text-align: center;
    @include from('s') {
      width: 33%;
      padding: 0 10px;
      float: left;
      text-align: left;
    }
  }
  &-media {
    margin: 0 auto 20px;
    display: block;
  }
  &-date {
    margin-bottom: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
  }
}
