.inner-pages-menu {
  margin: 0 0 40px;
  padding: 25px 20px 15px;
  list-style: none;
  background-color: #f2f2f2;
  li {
    margin-bottom: 10px;
    @include from('m') {
      display: inline-block;
      vertical-align: top;
      &:not(:last-child) {
        margin-right: 10px;
        &:after {
          content: '|';
          margin-left: 15px;
        }
      }
    }
  }
  a {
    border-bottom: 1px solid;
  }
  .current a {
    color: #f17f21;
    border-bottom-color: transparent;
  }
}

.wrap-animal-menu {
  padding: 10px 10px 0 20px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  .block-icon {
    margin-right: 20px;
    font-size: 60px;
    color: #f17f21;
    @include to('xs') {
      display: none;
    }
  }
  .inner-pages-menu {
    margin: 0;
    padding: 0;
  }
}
