.pagination-archives {
  .all {
    display: inline-block;
    vertical-align: middle;
    a {
      padding: 10px 22px;
      background-color: #f17f21;
      border-radius: 20px;
      font-size: 16px;
      display: inline-block;
      color: #ffffff;
      &:hover {
        background-color: #14a758;
      }
    }
  }

  .name-line {
    min-width: 60px;
    padding-right: 5px;
    display: inline-block;
    vertical-align: middle;
  }
  &-year, &-month {
    display: flex;
    align-items: center;
    @include to('s') {
      justify-content: space-between;
    }
    li {
      display: inline-block;
      vertical-align: middle;
      @include to('s') {
        &:not(:last-child) {
          display: none;
        }
      }
    }
    &__list, &-list {
      transition: all 0.3s ease;
      &:before {
        display: none;
        position: absolute;
        right: 0;
        top: 9px;
        color: #14a758;
        font-size: 10px;
        transition: all 0.3s ease;
      }
      @include to('s') {
        &:before {
          display: inline;
        }
        &:hover {
          padding-top: 14px;
          vertical-align: top;
          &:before {
            color: #f17f21;
            top: 19px;
          }
          li {
            display: block;
          }
        }
      }
    }
  }

  &-year {
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 2px solid #ece8e1;
  }

  ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    a {
      border-bottom: 0;
    }
  }

  li {
    font-size: 14px;
    padding: 0 13px;
  }
}
