.search-list {
  &__item {
    margin-bottom: 40px;
  }
  .breadcrumbs-pages {
    display: inline-block;
  }
  .way {
    display: inline-block;
  }
  .date {
    font-size: 14px;
  }
  .title {
    margin-bottom: 10px;
  }
  .latest-update {
    margin-bottom: 10px;
  }
}
