.staff-contacts {
  li:not(:last-child) {
    margin-bottom: 40px;
  }
  &-photo {
    padding-left: 0;
    @include to('s') {
      margin-bottom: 15px;
      float: none;
      text-align: center;
    }
    img {
      border: 1px solid #f2f2f2;
    }
  }
  &-content {
    padding-left: 20px;
    @include to('s') {
      width: 100%;
    }
    @include from('m') {
      p {
        margin-bottom: 30px;
      }
    }
    .full-name {
      margin: 0 0 10px;
      @include to('s') {
        text-align: center;
      }
    }
    .contacts {
      li {
        margin-bottom: 10px;
        &:before {
          margin-right: 15px;
          font-size: 22px;
          color: #f17f21;
          vertical-align: middle;
        }
      }
    }
  }
}
