.support-department {
  margin-top: 50px;
  @include to('s') {
    .info-right {
      padding: 0 0 10px 10px;
    }
  }
  @include to('xs') {
    padding-top: 15px;
  }
  .info-left,
  .info-right {
    padding-top: 10px;
    color: #ffffff;
    position: relative;
    z-index: 7;
    @include from('m') {
      width: 49%;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .info-left {
    padding-top: 0;
  }
  li {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 40px;
    position: relative;
    @include from('s') {
      padding-left: 65px;
    }
    &:nth-child(2) {
      margin-top: 8px;
    }
    &:before {
      font-size: 25px;
      position: absolute;
      left: 0;
      @include from('s') {
        left: 28px;
      }
    }
  }
  .text-nowrap {
    display: inline-block;
    margin: 5px 0 0;
  }
}
