/*
<label class="label-block">
    <input type="checkbox" name="" class="checkbox-custom">
    <span class="checkbox-custom-view label">Fabfoxx</span>
</label>
*/
.checkbox-custom {
  display: none;
  + .checkbox-custom-view::before {
    width: 27px;
    height: 27px;
    margin: 2px 0 0 -47px;
    content: '';
    position: absolute;
    line-height: normal;
    border: 2px solid #ece8e1;
    border-radius: 50%;
  }
  &:checked {
    + .checkbox-custom-view {
      &::after {
        width: 13px;
        height: 10px;
        top: 10px;
        left: 7px;
        border-bottom: 3px solid #f17f21;
        border-left: 3px solid #f17f21;
        position: absolute;
        display: block;
        content: '';
        transform: rotate(-56deg);
      }
    }
    .checkbox-custom-view::before {
      background-color: #F2F2F2;
    }
  }
  &-view {
    display: inline-block;
    cursor: pointer;
    padding-left: 47px;
    line-height: 37px;
    position: relative;
    color: #767676;
    font-weight: 300;

  }
}
