body {
  color: #282828;
  font-size: 16px;
  line-height: 1.4;
  overflow-x: hidden;
  @include SegoeUI;
}

a, .as-link, .link-dashed {
  color: #14a758;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover,
  &:active,
  .state_active,
  .current {
    color: #f17f21;
  }
}

.as-link, .link-dashed {
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}

.link-dashed {
  border-bottom: 1px dashed;
}

h1, h2, h4 {
  text-transform: uppercase;
  font-weight: normal;
  @include FranklinGothicMedium;
}

h3, .h3, h5, h6 {
  font-weight: 300;
}

h1 {
  font-size: 35px;
  margin: 0;
  line-height: 1;
  @include from('m') {
    font-size: 60px;
    letter-spacing: 3px;
  }
}

h2 {
  margin: 0 0 25px;
  font-size: 35px;
  line-height: 1.1;
  @include from('m') {
    letter-spacing: 2px;
    font-size: 50px;
  }
}

h3, .h3 {
  font-size: 18px;
  @include from('m') {
    font-size: 20px;
    letter-spacing: 0.5px;
  }
}

h4 {
  font-size: 20px;
}

h5, h6 {
  font-size: 16px;
}

h6 {
  text-transform: uppercase;
  font-weight: bold;
}

.text {
  &-center {
    text-align: center
  }
  &-left {
    text-align: left
  }
  &-right {
    text-align: right
  }
  &-justify {
    text-align: justify
  }
  &-bold {
    font-weight: bold
  }
  &-nowrap {
    white-space: nowrap;
  }
  &-lowercase {
    text-transform: lowercase;
  }
  &-uppercase {
    text-transform: uppercase;
  }
  &-capitalize {
    text-transform: capitalize;
  }
  &-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
}

ul, ol {
  margin-bottom: 10px;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

.list {
  &-unstyled {
    padding-left: 0;
    list-style: none;
  }
  &-orange,
  &-hyphen {
    list-style: none;
    padding-left: 0;
    li {
      padding-left: 12px;
      margin-bottom: 10px;
      position: relative;
      &:before {
        position: absolute;
        left: 0;
      }
    }
  }
  &-orange li:before {
    color: #f17f21;
    content: "•";
  }
  &-hyphen li:before {
    content: "-";
  }
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}

blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777777;
}

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}

.pull {
  &-left {
    float: left;
  }
  &-right {
    float: right;
  }
}

.embed-responsive {
  margin-bottom: 15px;
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive-4by3 {
  padding-bottom: 75%;
}

.inner-pattern {
  padding-top: 45px;
  position: relative;
  &:after, &:before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 150rem;
    top: 0;
    background-color: inherit;
  }
  &:after {
    right: 100%;
  }
  &:before {
    left: 100%;
  }
}

.clearfix {
  @include clearfix;
}

.color-orange {
  color: #f17f21;
}

.get-pricelist {
  width: 100%;
  padding: 20px;
  text-align: center;
  display: block;
  @include to('xs') {
    width: 100%;
    display: block;
    padding: 20px 15px 20px;
    text-align: left;
  }
  .icon-list {
    font-size: 18px;
    color: #ffffff;
    position: relative;
    z-index: 3;
    @include FranklinGothicMedium;
    @include from('s') {
      font-size: 20px;
      letter-spacing: 1px;
    }
    &:before {
      font-size: 60px;
      margin-right: 15px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.general-form {
  padding: 20px 15px;
  @include from('s') {
    padding-right: 45px;
    padding-left: 45px;
  }
  .modal-title {
    margin: 0 0 20px;
  }
  .button-default {
    width: 100%;
  }
}
