<div class="advantages">
    <div class="container">
        <div class="section-right">
            <ul class="advantages-list">
                <li class="icon-line-stats">Исследования <br> новых продуктов</li>
                <li class="icon-quality">входной <br>контроль сырья</li>
                <li class="icon-ecologic-chemicals">безопасность <br> комбикормов</li>
            </ul>

            <ul class="advantages-points">
                <li><span>качество</span></li>
                <li><span>Безопасность</span></li>
                <li><span>продуктивность</span></li>
            </ul>
        </div>
    </div>
</div>
<!-- /advantages -->
