<section class="animal-feed">
    <div class="container">
        <div class="section-right">
            <h2 class="animal-feed__title">Престартерные комбикорма</h2>
            <div class="animal-feed__pre-title h3">Достойная замена дорогому импорту</div>

            <ul class="animal-feed__list">
                <li class="for-calves col-sm-4">
                    <h4 class="item-title"><a href="#">Престартер <br> для телят</a></h4>
                    <img src="images/for-calves.png" alt="">
                </li>
                <li class="for-piglets col-sm-4">
                    <h4 class="item-title"><a href="#">Престартер <br> для поросят</a></h4>
                    <img src="images/for-piglets.png" alt="">
                </li>
                <li class="for-chickens col-sm-4">
                    <h4 class="item-title"><a href="#">Престартер <br> для цыплят</a></h4>
                    <img src="images/for-chickens.png" alt="">
                </li>
            </ul>

            <ul class="technology">
                <li class="icon-machinery">
                    <h5 class="technology-title">уникальная технология <br> производства.</h5>
                    <p class="technology-text">Особый способ обработки зернового сырья для престартеров. Данная
                        технология проверена и "работает" на собственных экспериментальных площадках.</p>
                </li>
                <li class="icon-scale">
                    <h5 class="technology-title">производство комбикормов <br> по индивидуальным рецептам</h5>
                    <p class="technology-text">Время исполнения заявки на производство комбикормов по индивидуальным
                        рецептам - 2 дня от приема заказа до выработки, по унифицированным рецептам - 1 день.</p>
                </li>
                <li class="icon-hourglass">
                    <h5 class="technology-title">Срок годности</h5>
                    <p class="technology-text">Преимущество престартеров ГКЗ перед импортными, в которых содержатся
                        вещества, увеличивающие сроки годности. </p>
                </li>
                <li class="icon-ruble">
                    <h5 class="technology-title">Фиксирование цен на престартерные <br> комбикорма на 3 месяца.</h5>
                    <p class="technology-text">Вы может планировать свои затраты на корма уже на 3 месяца вперед при
                        неизменности стоимости комбикормов.</p>
                </li>
            </ul>

            <div class="animal-feed__info button-lines">
                <div class="info-left">
                    <div class="info-left__percent">100%</div>
                    <div class="info-left__text h5">Безопасные <br> комбикорма</div>
                </div>
                <div class="info-center">Внедрена система качества и безопасности продукции
                    в соответствии с принципами HACCP
                </div>
            </div>

            <button class="get-pricelist button button-lines">
                <span class="icon-list">Получить прайс-лист</span>
            </button>
        </div>
    </div>
</section>
<!-- /animal-feed -->
