<section class="become-agent">
    <div class="container">
        <div class="section-block__right">
            <h2 class="become-agent__title">Стать представителем</h2>

            <div class="become-agent__pre-title h3">Глазовского Комбикормового завода</div>

            <ul class="become-agent__list">
                <li class="icon-certificate">
                    <h5 class="become-agent__list-title">Эксклюзивные права
                        на распространение
                        нашей продукции
                        в регионе</h5>
                </li>
                <li class="icon-percent"><h5 class="become-agent__list-title">Скидки</h5></li>
                <li class="icon-high-volume"><h5 class="become-agent__list-title">Отсрочка платежа</h5></li>
                <li class="icon-discount-on-payment">
                    <h5 class="become-agent__list-title">Рекламная и маркетинговая поддержка</h5>
                </li>
                <li class="become"><a href="#">стать <br> представителем</a></li>
            </ul>
        </div>
    </div>
</section>
