<div class="navigation">
    <div class="wrap container">
        <div class="navigation-panel">
            <span class="burger-menu-activate"></span>
            <a href="#" class="logo"><img src="images/logo.png" alt=""></a>
        </div>

        <aside class="navigation-sidebar">
            <div class="navigation-contacts">
                <a href="tel:+73414166262" class="navigation-contacts__phone">+7 (34141) 6-62-62</a>

                <button class="link-dashed navigation-contacts__button">Связаться с нами</button>
                <button class="link-dashed navigation-contacts__button">Заказать звонок</button>
            </div>
            <!-- /navigation-contacts -->

            <ul class="navigation-menu">
                <li><a href="#">О компании</a></li>
                <li><a href="#">Услуги</a></li>
                <li><a href="#">Представителям</a></li>
                <li><a href="#">Конференции</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
            <!-- /navigation-menu -->

            <nav class="navigation-products">
                <h3 class="navigation-products__button as-link" data-toggle="collapse"
                    data-target="#collapseProducts" aria-expanded="false" aria-controls="collapseProducts">
                    продукция <span class="icon-bottom"></span>
                </h3>

                <div class="collapse" id="collapseProducts">
                    <ul class="navigation-products__menu">
                        <li class="navigation-products__next">
                            <a href="#" class="icon-chicken">Для птиц</a><span class="icon-next"></span>
                        </li>
                        <li><a href="#" class="icon-pig-head">Для свиней</a></li>
                        <li><a href="#" class="icon-cow">Для коров</a></li>
                        <li><a href="#" class="icon-rabbit">Для кроликов</a></li>
                    </ul>
                </div>

                <div class="navigation-products__submenu container icon-chicken">
                    <div class="col-sm-4 col-sm-offset-3">
                        <div class="title">престартер комбикорма</div>
                        <ul class="items">
                            <li><a href="#">Бройлеры</a></li>
                            <li><a href="#">Яичное направление</a></li>
                            <li><a href="#">Гуси</a></li>
                            <li><a href="#">Утки</a></li>
                            <li><a href="#">Индейки</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-4">
                        <div class="title">прочие комбикорма</div>
                        <ul class="items">
                            <li><a href="#">Бройлеры</a></li>
                            <li><a href="#">Яичное направление</a></li>
                            <li><a href="#">Гуси</a></li>
                            <li><a href="#">Утки</a></li>
                            <li><a href="#">Индейки</a></li>
                            <li><a href="#">Перепела</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- /navigation-products -->

            <div class="company-group">
                <div class="title">Входит в группу компаний</div>
                <a href="#"><img src="images/comos-group.png" alt=""></a>
            </div>
        </aside>
        <!-- /navigation-sidebar -->

        <div class="search-area">
            <button class="search-area__button icon-search"></button>
            <input type="search" name="search" placeholder="Поиск" class="search-area__input hide-placeholder">
        </div>
    </div>
</div>
<!-- /navigation -->
