//@import "common/radio-custom";
@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
//common
@import "common/mixin";
@import "common/fonts";
@import "common/common";
@import "common/icons";
@import "common/forms";
@import "common/checkbox-custom";
@import "common/buttons";
@import "common/grid";
/* blocks */
@import "blocks/section-block";
@import "blocks/navigation";
@import "blocks/search-area";
@import "blocks/technology";
@import "blocks/header-home";
@import "blocks/advantages";
@import "blocks/animal-feed";
@import "blocks/other-feed";
@import "blocks/manufactured";
@import "blocks/become-agent";
@import "blocks/footer";
@import "blocks/news-carousel";

.get-pricelist {
  width: 100%;
  padding: 20px;
  text-align: center;
  display: block;
  @include from('l') {
    display: none;
  }
  @include to('xs') {
    width: 540px;
    padding: 20px 0 20px 15px;
    margin: 0 0 0 -15px;
    text-align: left;
  }
  .icon-list {
    font-size: 18px;
    color: #ffffff;
    @include FranklinGothicMedium;
    @include from('s') {
      font-size: 20px;
      letter-spacing: 1px;
    }
    &:before {
      font-size: 60px;
      margin-right: 15px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.general-form {
  padding: 20px 15px;
  @include from('s') {
    padding-right: 45px;
    padding-left: 45px;
  }
  .modal-title {
    margin: 0 0 20px;
  }
  .button-default {
    width: 100%;
  }
}
