.become-agent {
  padding-bottom: 55px;
  background-color: #f2f2f2;
  text-align: center;
  @include to('xs') {
    padding-bottom: 0;
  }
  &__title {
    margin: 0 0 5px;
    line-height: 1;
  }
  &__pre-title {
    margin: 0 0 30px;
    text-transform: uppercase;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    @include clearfix;
    @include from('s') {
      .icon-certificate {
        border-bottom: 1px solid #ece8e1;
        border-right: 1px solid #ece8e1;
      }
      .icon-percentage {
        border-bottom: 1px solid #ece8e1;
      }
      .icon-deferment-payment {
        border-right: 1px solid #ece8e1;
      }
    }
    li {
      margin-bottom: 40px;
      @include from('s') {
        width: 50%;
        height: 220px;
        padding: 20px 75px;
        margin-bottom: 0;
        float: left;
      }
      &:before {
        font-size: 85px;
      }
    }
    &-title {
      margin: 5px 0 0;
      text-transform: uppercase;
    }
    .icon-certificate {
      &:before {
        color: #f8c343
      }
    }
    .icon-percentage:before {
      color: #ff444a
    }

    @include from('s') {
      .icon-high-volume,
      .icon-deferment-payment {
        padding-top: 40px;
      }
    }
    .icon-high-volume:before {
      color: #0073b9
    }
    .icon-deferment-payment:before {
      color: #99b200
    }

    .become {
      padding: 0;
      font-size: 20px;
      text-transform: uppercase;
      @include FranklinGothicMedium;
      @include from('s') {
        margin: -95px 0 0 -95px;
        position: absolute;
        top: 50%;
        left: 50%;
      }
      .text {
        width: 190px;
        height: 190px;
        border-radius: 50%;
        background-color: #14a758;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        @include to('xs') {
          margin: auto;
        }
        &:hover {
          background-color: #f17f21;
        }
      }
    }
  }
}
