.main-advantages {
  padding-top: 0;
  background: url("../images/bg-layer.jpg") repeat-x top center #f5c78b;
  @include to('m') {
    margin: 0 -15px;
  }
  @include to('xs') {
    margin: 0 -15px;
  }
  &:before, &:after {
    background: inherit;
  }
  &-decor {
    height: 240px;
    padding: 35px 0 0;
    position: relative;
    @include to('m') {
      padding-top: 35px;
    }
    &:before, &:after {
      position: absolute;
      content: '';
      z-index: 5;
    }
    &:before {
      width: 200px;
      height: 211px;
      top: -108px;
      right: 0;
      opacity: .8;
      background: url("../images/provender-3.png") no-repeat;
      @include from('l') {
        right: -20px;
      }
    }
    &:after {
      width: 100%;
      height: 330px;
      top: -90px;
      background: url(../images/provender-6.png) no-repeat center 150px;
      @include to('xs') {
        height: 283px;
        top: -43px;
      }
    }
  }
  &-points {
    position: relative;
    z-index: 7;
    text-transform: uppercase;
    font-weight: 300;
    @include from('s') {
      display: flex;
      justify-content: center;
    }
    @include to('xs') {
      padding-left: 15px;
    }
    li {
      margin-bottom: 10px;
      position: relative;
      @include from('s') {
        margin-bottom: 0;
        &:after {
          width: 60px;
          height: 1px;
          background-color: #ffffff;
          position: absolute;
          left: -41px;
          bottom: -18px;
          content: '';
          transform: rotate(112deg);
        }
        &:first-child {
          margin-top: 5px;
          &:after {
            right: -42px;
            bottom: -22px;
            left: auto;
            transform: rotate(65deg);
          }
          &:before {
            bottom: -65px;
            right: -35px;
            left: auto;
          }
        }
        &:nth-child(2) {
          margin: 0 45px 0 80px;
        }
        &:last-child {
          margin-top: 10px;
          &:before {
            bottom: -63px;
            left: -29px;
          }
          &:after {
            bottom: -29px;
          }
        }
        span {
          display: inline-block;
          padding-bottom: 5px;
          border-bottom: 1px solid #ffffff;
        }
      }
      &:before {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #ffffff;
        content: '';
        display: inline-block;
        margin-right: 10px;
        @include from('s') {
          position: absolute;
          bottom: -45px;
          left: -25px;
          margin-right: 0;
        }
      }
    }
  }
}
