.other-feed {
  padding-bottom: 45px;
  text-align: center;
  background-color: #fff;
  @include to('m') {
    padding-bottom: 50px;
  }
  .animal-feed__list {
    margin-bottom: 0;
    li {
      padding-left: 10px;
      &:not(:last-child) {
        margin-bottom: 85px;
      }
    }
  }
  .technology {
    padding: 0;
    @include from('s') {
      text-align: left;
    }
    li {
      width: 100%;
      @include from('s') {
        margin-top: 0;
        &:before {
          float: left;
          margin: 10px 15px 65px 0;
        }
      }
    }
  }
  .technology-title {
    min-height: initial;
    @include from('s') {
      margin-top: 0;
    }
  }

  .get-pricelist {
    margin-top: -30px;
  }
}
