$icomoon-font-path: "fonts" !default;

$icon-bag-of-sugar: "\e900";
$icon-box: "\e901";
$icon-cancel: "\e902";
$icon-cancel-circle: "\e903";
$icon-certificate: "\e904";
$icon-chicken: "\e905";
$icon-clock: "\e906";
$icon-cow: "\e907";
$icon-discount-on-payment: "\e908";
$icon-ecologic-chemicals: "\e909";
$icon-e-mail-envelope: "\e90a";
$icon-file: "\e90b";
$icon-high-volume: "\e90c";
$icon-hourglass: "\e90d";
$icon-industrial-factory: "\e90e";
$icon-line-stats: "\e90f";
$icon-list: "\e910";
$icon-location-sign: "\e911";
$icon-machinery: "\e912";
$icon-mail: "\e913";
$icon-microscope-2: "\e914";
$icon-microscope: "\e915";
$icon-next: "\e916";
$icon-percent: "\e917";
$icon-phone-call: "\e918";
$icon-phone: "\e919";
$icon-pig-head: "\e91a";
$icon-locality: "\e91b";
$icon-production-plant: "\e91c";
$icon-quality: "\e91d";
$icon-rabbit: "\e91e";
$icon-rabbit-head: "\e91f";
$icon-rice: "\e920";
$icon-ruble: "\e921";
$icon-sack: "\e922";
$icon-scale: "\e923";
$icon-wall-clock: "\e925";
$icon-search: "\e926";
