footer {
  padding: 40px 0;
  background-color: #14a758;
  color: #ffffff;
  overflow-x: hidden;
  a {
    color: inherit;
  }

  .container {
    position: relative;
  }
}

.footer-head {
  margin-bottom: 20px;
  @include clearfix;

  .pull-left {
    @include from('m') {
      width: 25%;
    }
    @include to('s') {
      width: 50%;
    }
  }

  .logo {
    padding-right: 15px;
    @include to('xs') {
      float: none;
      margin-bottom: 20px;
      width: 75%;
    }
  }

  .comos-group {
    @include from('m') {
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
    }
    @include to('m') {
      right: 15px;
    }
    @include to('s') {
      padding-left: 15px;
    }
  }

  .contacts {
    .phone {
      @include FranklinGothicMedium;
      @include from('m') {
        font-size: 20px;
      }
    }
  }

  .social-block {
    padding-left: 0;
    margin: 0;
    list-style: none;
    .we-vk {
      margin-left: 5px;
    }
    @include to('s') {
      text-align: right;
    }
  }

  .link-dashed {
    padding: 0;
    color: #fff;
    font-size: 14px;

    @include to('s') {
      font-size: 13px;
      white-space: nowrap;
    }
    &:hover {
      color: #f17f21;
    }
  }
}

.footer-menu {
  a {
    border-bottom: 1px solid;
    &:hover {
      color: #f17f21;
    }
  }
  .h3 {
    padding-left: 0;
    @include to('xs') {
      padding-bottom: 10px;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  &__list {
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    list-style: none;
    @include from('s') {
      text-align: justify;
      font-size: 0;
      line-height: 0;
      *text-align-last: justify;
      *zoom: 1;
    }
    li {
      @include from('s') {
        text-align: left;
        font-size: 16px;
        line-height: normal;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        vertical-align: top;
      }
      @include to('s') {
        margin-bottom: 10px;
      }
    }
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 0;
      visibility: hidden;
    }
  }
}

.footer-other-info {
  padding-top: 30px;
  clear: left;
  @include to('xs') {
    .pull-left {
      margin-bottom: 20px;
    }
    .pull-left, .pull-right {
      float: none;
    }
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

#toTop {
  width: 30px;
  height: 30px;
  border: 2px solid;
  border-radius: 50%;
  color: #14a758;
  position: fixed;
  bottom: 50px;
  right: 5px;
  cursor: pointer;
  display: none;
  text-align: center;
  z-index: 99;
  transition: all 0.3s ease;
  @include from('l') {
    width: 60px;
    height: 60px;
    right: 50px;
    bottom: 100px;
  }
  &:hover {
    color: #f17f21;
  }
  .icon-top {
    width: 100%;
    position: absolute;
    top: 3px;
    left: 0;
    font-size: 30px;
    @include to('m') {
      font-size: 10px;
    }
    &:last-of-type {
      top: 10px;
    }
  }
}
