.infographics {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  li {
    margin-bottom: 40px;
    @include from('m') {
      width: 47%;
      margin-left: 1%;
      margin-right: 1%;
      display: inline-block;
      vertical-align: top;
    }
    &:before {
      color: #f17f21;
      font-size: 60px;
    }
  }
  &-title {
    margin: 10px 0 5px;
    text-transform: uppercase;
  }
  &-text {
    margin: 0;
    font-style: italic;
    font-size: 14px;
  }
}
