.fixed-block-nav {
  height: 330px;
  overflow-y: hidden;
}

.nav {
  width: 100%;
  height: 100%;
  position: absolute;

  &-sidebar {
    width: 220px;
    height: 100%;
    padding: 110px 0 30px 10px;
    float: left;
    position: relative;
    z-index: 90;
    transition: all 300ms linear;
    @include from('l') {
      padding-left: 0;
    }
    @include to('m') {
      width: 260px;
      padding-right: 10px;
      background-color: rgba(255, 255, 255, .9);
      transform: translateX(-110%);
      will-change: transform;
      padding-top: 20px;
      position: absolute;
      top: 0;
      left: 0;
      &-show {
        transform: translateX(0);
        z-index: 92;
      }
    }
    @include to('xs') {
      background-color: #ffffff;
    }
    .company-group {
      padding-top: 40px;
      border-top: 2px solid #ece8e1;
    }

    .back-bar-menu {
      color: #14a758;
      line-height: 1;
      border-bottom: 1px solid #d8d8d8;
      padding: 0 0 17px 45px;
      margin: 0 0 20px -15px;
      cursor: pointer;
      @include from('l') {
        display: none;
      }
      &:before {
        font-size: 18px;
        margin-right: 20px;
        margin-bottom: 3px;
        vertical-align: middle;
      }
    }
  }

  &-contacts {
    padding: 20px 0 25px;
    &__phone {
      font-size: 20px;
      color: #282828;
      @include FranklinGothicMedium;
    }
    &__button {
      padding: 0;
      margin: 3px 0 0;
      font-size: 14px;
      letter-spacing: 0.5px;
    }
  }

  &-menu {
    margin: 0 0 30px;
    padding: 0;
    list-style: none;
    letter-spacing: 1px;
    li:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  &-products {
    margin-bottom: 15px;
    padding: 25px 0 50px;
    @include from('l') {
      z-index: 7;
      position: relative;
      &:after {
        width: 130em;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 6;
        background-color: inherit;
      }
    }

    //.nav-products__button
    &__button {
      margin: 0 0 25px;
      text-transform: uppercase;
      position: relative;
      z-index: 7;
      a {
        letter-spacing: 6px;
        @include from('s') {
          letter-spacing: 4px;
        }
      }
      .icon-bottom {
        display: none;
      }
      .collapsed {
        .icon-top {
          display: none;
        }
        .icon-bottom {
          display: inline-block;
        }
      }
      .as-link {
        font-size: 14px;
        text-decoration: none;
        @include to('xs') {
          margin-left: 32px;
        }
      }
    }
    &__menu {
      margin: 0;
      padding: 0;
      list-style: none;
      position: relative;
      z-index: 7;
      li {
        margin-bottom: 40px;
        position: relative;
        @include from('l') {
          &:not(:hover) {
            .icon-next {
              visibility: hidden;
            }
          }
        }
      }
      a {
        padding-left: 60px;
        position: relative;
        z-index: 6;
        text-transform: uppercase;
        display: inline-block;
        letter-spacing: 1px;
        @include FranklinGothicMedium;
        &:before {
          color: #f17f21;
          font-size: 40px;
          vertical-align: middle;
          z-index: 6;
          position: absolute;
          top: -7px;
          left: 4px;
        }
        &:hover + .icon-next:before {
          color: #f17f21;
        }
      }
      .icon-next {
        position: relative;
        z-index: 6;
        cursor: pointer;
        padding-left: 5px;
        @include to('xs') {
          position: absolute;
          right: 32px;
        }
        &:before {
          font-size: 12px;
          color: #14a758;
        }
        &:hover:before {
          color: #f17f21;
        }
      }
    }

    &__submenu {
      position: absolute;
      top: 0;
      left: 0;
      width: 940px;
      padding: 19px 0 0 0;
      background-color: #fff;
      transform: translateX(-100%);
      transition: all 300ms linear;
      will-change: transform;
      opacity: 0;
      z-index: 5;
      @include from('l') {
        height: 100%;
        padding-top: 80px;
        .col-md-offset-3 {
          padding-left: 5px;
        }
      }
      @include to('m') {
        width: 250px;
        height: 100%;
        z-index: 7;
        .col-md-4 {
          margin-bottom: 30px;
        }
      }
      @include at('m') {
        .col-md-4, .col-md-3 {
          width: 100%;
          margin-left: 0;
        }
      }
      &:before {
        font-size: 200px;
        color: #f17f21;
        position: absolute;
        right: 15px;
        bottom: 20px;
        opacity: .4;
      }
      .title {
        margin-bottom: 10px;
        color: #14a758;
        letter-spacing: 1px;
        text-transform: uppercase;
        @include FranklinGothicMedium;
      }
      .items {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          margin-bottom: 10px;
          font-size: 12px;
        }
        a {
          border-bottom: 1px solid;
        }
      }
    }

    &__active {
      .nav-products__submenu {
        transform: none;
        opacity: 1;
      }
      background-color: #ffffff;
      &:after {
        content: '';
      }
    }
  }
}
